.borrar{
    text-decoration: none;
}

.footer{
    display: grid;
    background-color: var(--negro);
    padding-bottom: 3rem;
    margin-top: 4rem;
}


:root{
    --primary: #00102E;
    --fondocontenedor: #F8F8FF;
}

.color{
    background-color: var(--primary) !important;
}

.inicio{
    text-align: center;
    margin-bottom: 1rem ;
}

#hero{
    height: 800px;
}

/*Perfil*/
.perfil{
    width: 100%;
}

/*Registro*/
h3{
    margin-top: 2%;
    margin-bottom: 2%;
}

.registro{
    text-align: center;
}

.navbar{
background-color: var(--primary) !important;

}

.img-login{
    margin-bottom: 2.5rem;
}

.titulo{
    text-decoration: none;
    color: white;
    margin-left: 2rem;
}

.navbar-color, .nav-link{
    color: white;
}

.contenedor-login{
    background-color: var(--fondocontenedor);
    margin: 20px;
    font-size: 25px;
    padding: 70px;
    text-align: center; 
}


.login{
    background-color: var(--fondocontenedor);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
} 

.align-items-center{
    flex-direction: column;
}  

.iniciar{
    font-size: 30px;
    font-weight: 700;
}

.preguntas{
    display: grid;
    gap: 10px;
    font-size: 15px;
}

.form-control{
    font-size: 18px;
    background-color: var(--fondocontenedor);  
}


/*
.form-control:focus{
    box-shadow: .5px .5px 2.5px 5px #c4dcfc;
    color: #c4dcfc;
    border-color: #c4dcfc;
} */


/*Boton*/
.btn, .boton-ingresar{
    background-color: var(--primary);
    font-size: 15px;
    margin: 10px 0px;
    text-decoration: none;
    color: white;
    
}

.btn{
    width: 100px;
    height: 40px;
    border-color: var(--primary);
}


.btn:hover{
    cursor:pointer;
    background-color: var(--primary); 
}

.btn:focus{
    background-color: var(--primary);
    box-shadow: 1px 1px 10px 2.5px var(--primary);
    border-color: var(--primary);
}

.navbar-toggler{
    background-color: white;
    margin: 5px 45%; 
}

.nav-link:hover, .btn:hover{
    cursor: pointer;
    color: #d65050;
    
}

/*Registro Aval*/
.parrafo-aval{
    text-align: justify;
}

.nota-aval{
    font-weight: bold;
    text-align: justify;
}

/*Información Docente/Administrativo*/
.parrafo-doc-admin{
    text-align: center;
    font-size: 1.4rem;
}

.parrafo-manifiesto{
    font-size: 1rem;
    text-align: center;
    font-style:italic
}

.swal-overlay {
    background-color: rgb(0, 16, 46, .45);
}   

.swal-text{
    text-align: center;
}

.foot{
    font-family: Arial, Helvetica, sans-serif;
}

