/*Registro*/
h3{
    margin-top: 2%;
    margin-bottom: 2%;
}

.registro{
    text-align: center;
}

.navbar{
background-color: #00102E !important;

}

.img-login{
    margin-bottom: 2.5rem;
}

.titulo{
    text-decoration: none;
    color: white;
    margin-left: 2rem;
}

.navbar-color, .nav-link{
    color: white;
}

.login{
    background-color: ghostwhite;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
}

.login{
    background-color: ghostwhite;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
}


.align-items-center{
    flex-direction: column;
    
}  

.iniciar{
    font-size: 30px;
    font-weight: 700;
}

.preguntas{
    display: grid;
    gap: 10px;
    font-size: 15px;
}

.form-control{
    font-size: 18px;
    background-color: ghostwhite;  
}


/*
.form-control:focus{
    box-shadow: .5px .5px 2.5px 5px #c7ebff;
    color: #c7ebff;
    border-color: #c7ebff;
} */


/*Boton*/
.btn, .boton-ingresar{
    background-color: #00102E;
    font-size: 15px;
    margin: 10px 0px;
    text-decoration: none;
    color: white;
    
}

.btn{
    width: 100px;
    height: 40px;
    border-color: #00102E;
}


.btn:hover{
    cursor:pointer;
    background-color: #00102E;
    
}

.btn:focus{
   
    background-color: #00102E;
    box-shadow: 1px 1px 10px 2.5px #00102E;
    border-color: #00102E;
}*/

.navbar-toggler{
    background-color: white;
    margin: 5px 45%; 
   }

.nav-link:hover{
    cursor: pointer;
    color: #d65050;
    
}
