:root{
    --primary: #00102E;
    --container: #F8F8FF;
}

#hero{
    height: 800px;
    margin: 3rem;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-link:hover{
    cursor: pointer;
    color: #d65050;
}

.navbar, .nav-link{
    background-color: var(--primary) !important;
    color:white;
}

.navbar-toggler{
    background-color: white;
    margin: 5px 45%; 
}

/*registroCA*/
.passed{
    color:green;
    text-decoration: none;
}

.passed:hover{
    color:#d65050;
}

.parrafo-aval{
    text-align: justify;
}

.login{
    background-color: var(--fondocontenedor);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
} 


.tamanoLetra{
    font-size: 33px;
}

.icono{
    text-align: center;
    font-size: 40px;
}

